<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>AngularJS Form Validation</title>
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="js/app.js"></script>
</head>

<body>
  <div class="page">
    <section class="card register" ng-app="myApp"
    ng-controller="RegistrationController">
      <form name="myform" novalidate
      ng-submit="register()">
        <div class="textintro">
          <h1>入力フォーム</h1>
          <p>以下の項目を入力してください。</p>
          <p ng-show="message">{{ message }}</p>
        </div>
        <fieldset>
          <input type="text" name="firstname"
          placeholder="名"
          ng-model="user.firstname"
          ng-required="true">
          <p class="error" ng-show="myform.firstname.$invalid && myform.firstname.$touched">名を入力してください</p>

          <input type="text" 
          name="lastname" 
          placeholder="性" 
          ng-model="user.lastname" 
          ng-required="true">
          <p class="error" ng-show="myform.lastname.$invalid && myform.lastname.$touched">性を入力してください</p>
          
          <input type="text" 
          name="email" 
          placeholder="メールアドレス" 
          ng-model="user.email" 
          ng-required="true">
          <p class="error" ng-show="myform.email.$invalid && myform.email.$notouched">メールアドレスを正しく入力してください</p>

          <input type="password" 
          name="password" 
          placeholder="パスワード" 
          ng-model="user.password"
          ng-minlength="6"
          ng-required="true">
          <p class="error" ng-show="myform.password.$invalid && myform.password.$touched">パスワードは6文字以上にしてください</p>
        </fieldset>
        <button type="submit" class="btn">送信</button>
      </form>
    </section>
  </div>
</body>
</html>